<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/header') %>	
    <main>
        <section class="servicos-lista">
            <div class="container">
                <h1>Serviços</h1>
                <!-- Aqui onde é necessario implementar o list do controller-->                             
                <% servicesList.forEach(function(item) { %>
                    <article>                    
                        <div class="thumb"></div>
                        <div class="info">
                            <h2><%= item.name %></h2>
                            <p>R$ <%= item.price %></p>
                            <p><%= item.text %></p>
                            <p><%= item.categoria.name %></p>
                            <a href="#" class="btn btn-primary">agendar</a>
                        </div>
                    </article>
                <% }) %>
            </div>
        </section>
    </main>
    <%- include('./partials/footer') %>	
</body>

</html>